*{
    padding: 0;
    margin: 0;
}
.hero{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3)) ,url(images/bg.jpeg);
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;  
    
}


.header{
    background-color: rgba(0,0,0,0.3);
    text-decoration: none;
    height: 35px;
    padding: 30px;
}
.navbar{
    
    display: flex;
    justify-content: end;
    gap: 30px;
    padding-left: 20px;   
    
}
      
.navbar a{
    color: rgb(230, 225, 225);
    text-decoration: none;
    
}
.text{
    text-align: center;
    padding: 100px;
   
}

.text h1{
    
    color: aliceblue;
    font-size: 150px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.4);
    
}
.text h3{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}
.bottom{
    text-align: center;
    
}
.bottom button{
    width: 250px;
    height: 90px;
    border-radius: 20px;
    background-color: rgba(243, 234, 197, 0.4);
       

}
.menu-btn{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 40px;
}
.menu-btn:hover{
    background-color: black;
    transform: scale(1.05);
    transition: 0.3s;
}
.aboutsection{
    display: flex;
    justify-content: center;
}
.about{
    display: flex;
    align-items: center;
    gap: 40px;
    background: rgba(240, 240, 240, 0.1);
    
    background: linear-gradient(135deg, #f3f6f8, #eae1ac);
    padding: 80px;
    margin-top: 50px;
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
} 
.right img{
    
    border-radius: 10px;
    
   
}
.left h2{
    text-align: center;
    color:rgb(4, 4, 4);
    padding-bottom: 30px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}
.left p{
    color:rgb(8, 8, 8);
    
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}

.menu{
    padding: 10px;
    text-align: center;
    color: rgb(12, 12, 12);

}
.menu h2{
    font-size: 40px;
    color: #fff;
}

.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    

}
.description h3{
    
}
.menu h2{
    
    padding: 70px;
    text-align: center;
}
.card{
    
    background: linear-gradient(135deg, #f3f6f8, #eae1ac);
    padding-top: 60px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
.card img{
    width: 80%;
    object-fit: fill;
    height: 250px;
    border-radius: 15px;
   
    
  
}
.description{
    padding: 20px;

}
.description h3{
    margin-bottom: 10px;
}
.description span{
    font-weight: bold;
    color: #100f0f;
}


/*reservation*/

.reservation{
    
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.reservecard{
     
    background: linear-gradient(135deg, #f3f6f8, #eae1ac);
    height: 450px;
    width: 500px;
    text-align: center; 
    border-radius: 10px;
    padding: 20px;
    margin-top: 5px;
    box-shadow: 0 10px 20px rgba(20, 56, 155, 0.2);
    
    


}
input{
    border-style: none;
}
.reg{
    margin-bottom: 10px;
}
.reg label{
    display: block;
}
input{
    border-radius: 20px;
    
    height: 30px;
    width: 250px;
    
}

.reservebutton{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border-style: none;
}



.footer {
    background-color: #111;
    color: #fff;
    padding-top: 50px;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    flex-wrap: wrap;
}

.footer-container div {
    max-width: 300px;
}

.footer h3, 
.footer h4 {
    margin-bottom: 15px;
}

.footer-links a {
    display: block;
    text-decoration: none;
    color: #ccc;
    margin-bottom: 8px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #fff;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #111;
    margin-top: 30px;
}


